.banner {
    background-image: url(/img/cine1.jpeg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: screen;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    padding-top: 0;


}

.container1 {
    padding-left: 15px;
}

.banner2 {
    background-image: url(/img/cineSeccion3.jpeg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: screen;
    background-blend-mode: multiply;
    background-repeat: no-repeat;

}

.bannerParallax {
    background-image: url("/img/parallaxCine.jpeg");
    background-size: cover;
    background-position: center;
    /* efecto parallaz */
    background-attachment: fixed;
    background-blend-mode: screen;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
}

.container-fluid4 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.formato1 {
    background-color: #fff;
    border: 2px solid #3498db;
    color: #333;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.formato1:focus {
    outline: none;
    border-color: #2980b9;
}

.formato1 option {
    background-color: #fff;
    color: #333;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
}

.indice {
    background-color: #6c757d;
    /* Color de fondo */
    color: #ffffff;
    /* Color de texto */
    border: 2px solid #6c757d;
    /* Borde */
    border-radius: 30px;
    /* Bordes redondeados */
    padding: 10px 20px;
    /* Espaciado interior */
    transition: background-color 0.3s, color 0.3s;
    /* Transición suave */
}

.indice:hover {
    background-color: #495057;
    /* Cambio de color de fondo al pasar el cursor */
    color: #ffffff;
    /* Cambio de color de texto al pasar el cursor */
}