@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url("/img/tucan.jpg");
    background-size: cover;
    /* Make the background image cover the entire container */
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: screen;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    padding-top: 0;
    padding-bottom: 0;
    height: 100vh;
}

header {
    background-color: #4CAF50;
}

.logo {
    width: 270px;
}

.searchInput {
    width: 80%;
    background-color: transparent;
    border: 2px solid;
    outline: none;
    padding: 5px 15px;

    border-radius: 5px;
    border-right: none;
}

.searchInput::placeholder {

    font-size: 14px;
}

.searchIcon {
    border-radius: 0 5px 5px 0;
    border-left: none;
    border-right: 2px solid;
}

.searchIcon i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

.input-group {
    margin-bottom: 20px;
    border-radius: 5px;
}

.form-control:focus {

    background-color: transparent;
    outline: 0;
    box-shadow: none;
}

.resultado {
    color: #fff;
}

.card {
    border: 1px solid;
    border-radius: 5px;
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.card-text {
    color: #555;
}


/* ======================== */

.fondocolor {
    background-color: white;

    border-radius: 2%;
    background-color: rgba(255, 255, 255, 0.8);
}


#boton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #4CAF50;
    color: #4CAF50;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#boton:hover {
    background-color: #4CAF50;
    color: white;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
}

.indice {
    background-color: #6c757d;
    /* Color de fondo */
    color: #ffffff;
    /* Color de texto */
    border: 2px solid #6c757d;
    /* Borde */
    border-radius: 30px;
    /* Bordes redondeados */
    padding: 10px 20px;
    /* Espaciado interior */
    transition: background-color 0.3s, color 0.3s;
    /* Transición suave */
}

.indice:hover {
    background-color: #495057;
    color: #ffffff;
}