body {
    font-size: 22px;
}

p {
    font-size: 22px;
}

.formatos1 {
    color: brown;
}

header {
    background-color: #000;
    height: 60px;
}

.inicio {
    border-bottom: 1px solid rgb(143, 50, 50);
}



.logoo {
    width: 400px;
}


h2 {
    font-size: 25px;
    letter-spacing: 2px;
}

h4 {
    font-size: 17px;
    letter-spacing: 2px;
}

select {
    width: 100%;
    padding: 3px 20px;
}

.imagen img {
    width: 300px;
}

footer {
    background-color: #000;
    font-size: 30px;
    padding: 40px 40px;
    margin-top: 100px;
}

@media(max-width: 765px) {
    .logo img {
        width: 100%;
    }
}

.indice {
    background-color: #6c757d;
    /* Color de fondo */
    color: #ffffff;
    /* Color de texto */
    border: 2px solid #6c757d;
    /* Borde */
    border-radius: 30px;
    /* Bordes redondeados */
    padding: 10px 20px;
    /* Espaciado interior */
    transition: background-color 0.3s, color 0.3s;
    /* Transición suave */
}

.indice:hover {
    background-color: #495057;
    /* Cambio de color de fondo al pasar el cursor */
    color: #ffffff;
    /* Cambio de color de texto al pasar el cursor */
}