body {
    margin: 0;
    font-family: system-ui;
    background-image: url(/entregable1/imagenes/fondo.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    font-size: xx-large;

    /* background-repeat: no-repeat; */

}

.img {
    width: 70px;
    margin-left: 590px;
    margin-top: 15%;
    margin-bottom: 20px;
    border-radius: 5px;
}

.contra {
    margin-left: 570px;
    margin-bottom: 15px;
    margin-top: 8px;
}

.nombreContra {
    margin-left: 580px;
    margin-bottom: 15px;
    margin-top: 8px;
}

.moveInput {
    border-radius: 25px;
    margin-left: 450px;
}

.moveInput {
    border-radius: 25px;
    margin-left: 445px;
    padding: 1%;
}

.boton {
    border-radius: 20px;
    width: 165px;
    height: 55px;
    margin-top: 15px;
    margin-left: 545px;
    background-color: #FA8072;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}