body {
    max-width: 100%;
}

.logo {
    width: 90px;
}

body {
    background-image: url("/imagenes/FONDOOO.jpeg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: screen;
    background-blend-mode: multiply;
    background-repeat: no-repeat;


}

.comidaImg {
    border-width: 2px;
    border-radius: 5px;

    width: 1000px;

    height: auto;

}

.titulo {
    font-family: "Times New Roman", Times, serif;

}

.fondocolor {
    background-color: white;

    border-radius: 2%;
    background-color: rgba(255, 255, 255, 0.8);
}



.imaComida {
    max-width: 50%;
    /* Set maximum width */
    height: auto;
    /* Maintain aspect ratio */
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 8px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    border: none;
}

.button:hover {
    background-color: #f0f0f0;
}

.texto2 {
    font-size: 25px;
}

.nav-link {
    font-size: 20px
}