.banner {
    background-image: url("/imagenes/chef-min.jpg");
    background-size: cover;
    /* Make the background image cover the entire container */
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: screen;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    /* Prevents background image from repeating */
    padding-top: 0;
    padding-bottom: 0;

    /* Make the banner fill the entire viewport height */
}

.container {
    padding-top: 0;
}

i {
    color: white;
    font-size: 90px;
    background-color: none;
}

.custom-btn-primary {
    background-color: transparent;
    border-color: transparent;
    border: 0;
    /* Remove the border */
}


.custom-btn-primary:hover {
    background-color: transparent;
    border: 0;
}